* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
.feeds {
  padding-top: 4rem;
  height: 100%;
  background: #e5e5e5;
}

.jobsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .resultsDetails {
    top: 130px;
    margin-top: 10px;
  }
}

.eachJob {
  background-color: white;
  margin: 2rem;
  height: auto;
  min-height: 190px;
  width: 1000px;
  left: 300px;
  top: 350px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
}
.firstRow {
  padding: 1rem;
  font-size: 22px;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
}
.location {
  font-size: 15px;
}
.secondRow {
  padding: 1rem;
  padding-top: 0rem;
  display: flex;
  justify-content: space-between;
}

.searchWrapper {
  height: 4rem;
  background-color: #d8dd31;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBarCity {
  margin: 0.5rem;
  height: 2rem;
  width: 15rem;
  border-radius: 12px;
  border: none;
  padding: 1rem;
}
.searchBarTitle {
  padding: 1rem;
  margin: 0.5rem;
  height: 2rem;
  width: 15rem;
  border-radius: 12px;
  border: none;
}

.searchJobButton {
  height: 2rem;
  border-radius: 12px;
  border: none;
  width: 6rem;
  background-color: #15b81c;
  color: white;
  font-weight: 650;
}
.searchJobButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.thirdRow {
  padding: 1rem;
}

.applyButton {
  width: 6rem;
  height: 2rem;
  background-color: #15b81c;
  color: white;
  border-radius: 10px;
}

.fas {
  margin-right: 0.5rem;
}

.far {
  margin-right: 0.5rem;
}

.loader {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 10px;
  }
}

.nodataPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4e684f;
}

.nodataPage > img {
  width: 20rem;
  height: 20rem;
}

.emptyFeeds {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emptyFeeds > h1 {
  font-size: 73px;
  color: #4e684f;
}

.emptyFeeds > h5 {
  padding-top: 1rem;
  font-size: 22px;
  color: #4e684f;
  font-style: italic;
}
