* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
.feeds {
  height: 100%;
  background: #e5e5e5;
}

.emptyFeeds {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #e5e5e5;
}

.emptyFeedsLeft {
  background-color: #e5e5e5;
  width: 60%;
  height: 100vh;
  /* border-right: 5px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.emptyFeedsRight {
  background-color: #e5e5e5;
  width: 40%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyFeedsImage {
  height: 70%;
  width: 80%;
}

.jobsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eachJob {
  background-color: white;
  margin: 2rem;
  height: 169px;
  width: 736px;
  left: 300px;
  top: 350px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
}
.firstRow {
  padding: 1rem;
  font-size: 22px;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
}
.location {
  font-size: 15px;
}
.secondRow {
  padding: 1rem;
  padding-top: 0rem;
  display: flex;
  justify-content: space-between;
}

.feedsHeading {
  /* background-color: royalblue; */

  /* font-size: 20px; */
  /* justify-content: center; */
}
.searchWrapper {
  height: 4rem;
  background-color: #d8dd31;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBarCity {
  margin: 0.5rem;
  height: 2rem;
  width: 15rem;
  border-radius: 12px;
  border: none;
  padding: 1rem;
}
.searchBarTitle {
  padding: 1rem;
  margin: 0.5rem;
  height: 2rem;
  width: 15rem;
  border-radius: 12px;
  border: none;
}

.searchJobButton {
  height: 2rem;
  border-radius: 12px;
  border: none;
  width: 6rem;
  background-color: #15b81c;
  color: white;
  font-weight: 650;
}

.thirdRow {
  padding: 1rem;
}

.applyButton {
  /* margin-left: ; */
  width: 6rem;
  height: 2rem;
  background-color: #15b81c;
  color: white;
  border-radius: 10px;
}

.feedsHeading {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.fgi {
  font-family: 'Russo One', sans-serif;
  font-size: 48px;
  color: #15b81c;
  text-align: center;
  /* background-color: red; */
  width: 25rem;
  padding-bottom: 1rem;

  /* font-weight: 1000;

  */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.ijp {
  font-style: italic;
  font-family: 'Russo One', sans-serif;
  font-size: 15px;
}

.feedsSearch {
  display: flex;
  flex-direction: column;
}
.homeSearch {
  width: 50%;
  /* background-color: yellow; */
}

.fas {
  margin-right: 0.5rem;
}

.far {
  margin-right: 0.5rem;
}

.loader {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nodataPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4e684f;
}

.nodataPage > img {
  width: 20rem;
  height: 20rem;
}

.homeFeeds {
  display: flex;
  height: calc(100vh - 4rem);
}

.homeLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  /* background-color: red; */
}
.homeRight {
  width: 40%;
  /* background-color: royalblue; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeRight img {
  width: 80%;
  height: 70%;
}

.homeHeading {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.homeHeading > p {
  padding-top: 1rem;
  font-weight: 600;
  font-size: 16px;
  /* font-style: italic; */
}
.homeButtons {
  margin-top: 1rem;
}

.homeButton {
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  background-color: #d8dd31;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
}
.homeButton:hover {
  width: 10rem;
  background-color: #15b81c;
  font-style: italic;
  color: white;
}

#sortdate {
  width: 10rem;
  height: 2rem;
  margin: 1rem;
  border-radius: 10px;
}
