* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #15bb1c;
  position: fixed;
}

.navLogo {
  margin-left: 25px;
  width: 70px;
  height: 100%;
}
.navMenu {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.navMenu a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.fa-user-circle {
  color: white;
  font-size: 35px;
}
.userOption {
  position: absolute;
  top: 100%;
  right: 0.2%;
  font-size: 8px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.userOption p {
  color: black;
  padding: 0.2rem;
}

.inputformfield {
  padding-left: 1rem;
}
