* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  position: fixed;
  background-color: #15b81c;
  display: flex;
  height: 4rem;
}

.navLeft {
  width: 50%;
  display: flex;
  align-items: center;
}
.navRight {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.navRight button {
  /* width: 7rem; */
  height: 2.5rem;
  margin-left: 2rem;
  /* background-color: #d8dd31; */
  background-color: #15b81c;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  color: white;
}

.navRight button:hover {
  text-decoration-line: underline;
  text-decoration-color: #d8dd31;
  text-decoration-style: solid;
  text-decoration-thickness: 4px;
}

.navLogo {
  margin-left: 3rem;
  width: 4.2rem;
}

.fa-user-circle {
  position: absolute;
  top: 1rem;
  color: white;
  /* margin-top: 1rem; */
  font-size: 35px;
  /* margin-left: 1rem; */
  /* margin-bottom: 1rem; */
}
.userOption {
  position: absolute;
  top: 4rem;
  right: 0.5rem;
  font-size: 18px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 7rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.userOption p {
  color: black;
  padding: 0.2rem;
}
